@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

* {
  position: static;
  box-sizing: border-box;
  aspect-ratio: auto;
  margin: 0px;
  padding: 0px;
  gap: 0px;
  clip-path: none;
  opacity: 1;
  border-radius: 0px;
  letter-spacing: 0em;
  text-transform: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  fill: none;
  stroke-miterlimit: 10;
}
*::before {
  content: none;
  display: block;
  margin: 0px;
  padding: 0px;
}
*::after {
  content: none;
  display: block;
  margin: 0px;
  padding: 0px;
}
a {
  display: block;
  text-decoration: none;
}
div {
  display: block;
}
em {
  font-style: inherit;
}
strong {
  font-weight: inherit;
}
.start {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
}
.start-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #FFFFFF;
}
.start-layout {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
}
.start-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.intro {
  position: relative;
  width: auto;
  height: auto;
}
.intro-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
}
.intro-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
._ {
  position: relative;
  width: 179px;
  height: 32px;
}
.children {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
._-1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.shape-root {
  position: absolute;
  width: 100%;
  height: 100%;
}
.shape-fill {
  fill: #006589;
  fill-opacity: 1;
}
.shape-fill-1 {
  fill: #FFFFFE;
  fill-opacity: 1;
}
.title {
  position: relative;
  width: auto;
  height: auto;
}
.title-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 100px;
  background-color: transparent;
}
.title-shape::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 101px;
  border-width: 2px;
  border-style: solid;
  border-color: #006589;
  pointer-events: none;
}
.title-text {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  font-size: 28px;
  font-feature-settings: "case";
  line-height: 1;
  text-align: center;
  color: #006589;
}
.title-text > * {
  padding: 10px 24px 10px 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.label {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.7);
}
.label > * {
  margin-top: -3px;
  margin-bottom: -3px;
}
.calculator {
  position: relative;
  width: 960px;
  height: auto;
}
.calculator-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 32px;
  background-color: rgba(183,191,205,0.3);
}
.calculator-layout {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 32px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 40px;
}
.calculator-layout > * {
  min-width: auto;
  min-height: 100%;
  max-width: auto;
  max-height: 100%;
  flex-shrink: 0;
}
.inputs {
  position: relative;
  width: 270px;
  height: auto;
}
.inputs-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 40px;
}
.inputs-layout > * {
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: auto;
  flex-shrink: 0;
}
._-2 {
  position: relative;
  width: auto;
  height: auto;
}
.layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
}
.layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.input {
  position: relative;
  width: 100%;
  height: auto;
}
.input-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 8px;
}
.input-layout > * {
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: auto;
  flex-shrink: 0;
}

/* ORIGINAL VERSION
.input-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 8px;
}
.input-layout > * {
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: auto;
  flex-shrink: 0;
}
*/

/* SHINY INPUT CONTAINER */

.shiny-input-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 0px;
  padding: 0px;
  margin: 0px;
  margin-top: -2.7px;
  margin-bottom: -2.7px;
}


/*
.shiny-input-container > * {
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: auto;
  flex-shrink: 0;
}
*/

.label-1 {
  position: relative;
  display: flex;
  width: 240px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.7);
  
  padding-top: 14px;
  
  /*padding-bottom: 8px;*/
}
.label-1 > * {
  margin-top: -2.4px;
  margin-bottom: -2.4px;
}
.label-1 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.label-1x {
  position: relative;
  display: flex;
  width: 240px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.7);
  
  padding-bottom: 8px;
}
.control-label {
  position: relative;
  display: flex;
  width: 240px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.7);
  row-gap: inherit;
}
.control-label > * {
  margin-top: -2.4px;
  margin-bottom: -2.4px;
}
.control-label strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.text-field {
  position: relative;
  width: 240px;
  height: auto;
}
.text-field-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.text-field-shape::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 11px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.05);
  pointer-events: none;
}
.text-field-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.text-field-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.text {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  min-width: 0px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.9);
}
.text > * {
  margin-top: -2.7px;
  margin-bottom: -2.7px;
  padding: 10px;
}
.unit {
  position: relative;
  display: flex;
  width: auto;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.9);
}
.unit > * {
  margin-top: -2.7px;
  margin-bottom: -2.7px;
  padding: 10px;
}


/* SHINY INPUTS */

.shiny-primary-input-container {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: static;
  width: auto;
  height: auto;
  margin-top: -2.7px;
  margin-bottom: -2.7px;
  /*padding: 8px;*/
  flex-direction: row;
  flex: 1;
  justify-content: center;
  
  /*top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /*z-index: -1;*/
  border-radius: 10px;
  border-width: 0.1px;
  border-color: rgba(0,0,0,0.1);
  
  row-gap: 8px;
}

.shiny-secondary-input-container {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  position: static;
  width: 100px;
  /*height: auto;*/
  height: 20px;
  /*margin-top: -2.7px;*/
  /*margin-bottom: -2.7px;*/
  /*padding: 8px;*/
  flex-direction: row;
  flex: 1;
  justify-content: center;
  
  /*top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /*z-index: -1;*/
  border-radius: 10px;
  border-width: 0.1px;
  border-color: rgba(0,0,0,0.1);
  
  /*row-gap: 8px;*/
  row-gap: 0px;
}

.shiny-bound-input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  position: inherit;
  width: 100%;
  height: inherit;
  margin-top: 8px;
  margin-bottom: -2.7px;
  padding: 8px;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;

  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 10px;
  border-width: 0.1px;
  border-color: rgba(0,0,0,0.15);
  background-color: #FFFFFF;

  row-gap: 8px;*/
}

.selectize-input {
  margin-top: inherit;
  margin-bottom: inherit;
  border-radius: 10px;
  border-width: 0.1px;
  border-color: rgba(0,0,0,0.15);
}

/*
.shiny-bound-input {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  width: 240px;
  height: auto;
  margin-top: -2.7px;
  margin-bottom: -2.7px;
  padding: 10px;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 10px;
  border-width: 0.1px;
  border-color: rgba(0,0,0,0.2);
  background-color: #FFFFFF;
  
  row-gap: 8px;

}
*/

/*
.shiny-input-select {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: -2.7px;
  margin-bottom: -2.7px;
  padding: 10px;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 10px;
  border-width: 0.1px;
  border-color: rgba(0,0,0,0.2);
  background-color: #FFFFFF;
  
  row-gap: 8px;

}
*/


.label-2 {
  position: relative;
  width: auto;
  height: auto;
}
.label-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 6px;
}
.label-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.label-3 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.7);
  
  padding-top: 14px;
}
.label-3 > * {
  margin-top: -2.4px;
  margin-bottom: -2.4px;
}
.label-3 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
._-3 {
  position: relative;
  width: 20px;
  height: 20px;
}
.shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
.shape-fill-2 {
  fill: #B7BFCD;
  fill-opacity: 0.3;
}
.shape-stroke {
  clip-path: url(#stroke-clip-path);
  stroke: #B7BFCD;
  stroke-opacity: 0.3;
  stroke-width: 2;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}
.text-1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
}
.text-1 > * {
  margin-top: -2.4px;
  margin-bottom: -2.4px;
}
.text-1 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.label-4 {
  position: relative;
  display: flex;
  width: 270px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.7);
}
.label-4 > * {
  margin-top: -2.4px;
  margin-bottom: -2.4px;
}
.label-4 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
._-4 {
  position: relative;
  width: auto;
  height: 40px;
}
.layout-1 {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.layout-1 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.shape-stroke-1 {
  stroke: #000000;
  stroke-opacity: 0.9;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button {
  position: relative;
  width: 240px;
  height: 40px;
}
.button-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 100px;
  background-color: #006589;
}
.button-text {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
}
.button-text > * {
  margin-top: -2.7px;
  margin-bottom: -2.7px;
  padding-right: 24px;
  padding-left: 24px;
}

/* SHINY BUTTON */

.btn {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #006589;
  border-radius: 100px;

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
}


.layout-2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
}
.layout-2 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.divider {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,0.15);
  margin-top: 10px;
}
.text-2 {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.7);
}
.text-2 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
}
.text-2 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.layout-3 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 20px;
}
.layout-3 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.button-1 {
  position: relative;
  width: auto;
  height: 28px;
}
.button-shape-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 100px;
  background-color: rgba(183,191,205,0.3);
}
.button-shape-1::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.05);
  pointer-events: none;
}
.button-text-1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #006589;
}
.button-text-1 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding-right: 14px;
  padding-left: 14px;
}
.button-text-1 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.result {
  position: relative;
  height: auto;
  min-width: 0px;
  flex: 1;
  opacity: 0.5;
}
.result-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.result-shape::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 11px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.05);
  pointer-events: none;
}
.result-layout {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 24px;
}
.result-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.heading {
  position: relative;
  width: auto;
  height: auto;
}
.heading-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
}
.heading-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.heading-1 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.9);
}
.heading-1 > * {
  margin-top: -3px;
  margin-bottom: -3px;
}
.text-3 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.7);
}
.text-3 > * {
  margin-top: -2.4px;
  margin-bottom: -2.4px;
}
.text-3 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  text-color: #ff0000;
}
.layout-4 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}
.layout-4 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.button-2 {
  position: relative;
  width: auto;
  height: 30px;
}
.button-text-2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
}
.button-text-2 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding-right: 16px;
  padding-left: 16px;
}
.button-text-2 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.button-text-3 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #006589;
}
.button-text-3 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding-right: 16px;
  padding-left: 16px;
}
.button-text-3 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.graph {
  position: relative;
  width: auto;
  height: auto;
}
.graph-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  column-gap: 40px;
}
.graph-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.bar {
  position: relative;
  width: auto;
  height: auto;
}
.bar-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  row-gap: 8px;
}
.bar-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.areas {
  position: relative;
  width: 120px;
  height: 200px;
}
.areas-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.areas-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.area {
  position: relative;
  width: 100%;
  height: 32%;
}
.area-children {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.rectangle {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.rectangle-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 5px;
  background-color: #AA3E84;
}
.rectangle-shape::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  pointer-events: none;
}
.rectangle-children {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  clip-path: inset(0px round 5px 5px 5px 5px);
  border-radius: 5px;
}
._-5 {
  position: absolute;
  top: -10px;
  right: 0px;
  left: 0px;
  height: 20px;
  opacity: 0.6;
}
.shape-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: transparent;
}
.children-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  clip-path: inset(0px round 0px 0px 0px 0px);
}
.hatching {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.hatching-shape-root {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hatching-shape-stroke {
  stroke: #FFFFFF;
  stroke-opacity: 1;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-linejoin: miter;
}
.label-5 {
  position: absolute;
  top: 50%;
  right: 100%;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.7);
  transform: translateY(-50%);
}
.label-5 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding-right: 8px;
  padding-left: 8px;
}
.label-5 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.area-1 {
  position: relative;
  width: 100%;
  height: 12%;
}
._-6 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.8;
  border-radius: 5px;
  background-color: #006589;
}
._-6::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  pointer-events: none;
}
._-7 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  border-radius: 5px;
  background-color: #006589;
}
._-7::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  pointer-events: none;
}
.area-2 {
  position: relative;
  width: 100%;
  height: 40%;
}
._-8 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 5px;
  background-color: #006589;
}
._-8::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  pointer-events: none;
}
.label-6 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.9);
}
.label-6 > * {
  margin-top: -2.4px;
  margin-bottom: -2.4px;
}
.label-6 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.label-7 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.7);
}
.label-7 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
}
.label-7 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.rectangle-shape-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 5px;
  background-color: #189350;
}
.rectangle-shape-1::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  pointer-events: none;
}
.label-8 {
  position: absolute;
  top: 50%;
  left: 100%;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.7);
  transform: translateY(-50%);
}
.label-8 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding-right: 8px;
  padding-left: 8px;
}
.label-8 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.rectangle-shape-2 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 5px;
  background-color: #106939;
}
.rectangle-shape-2::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  pointer-events: none;
}
.more {
  position: relative;
  width: auto;
  height: auto;
}
.more-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 24px;
}
.more-layout > * {
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: auto;
  flex-shrink: 0;
}
.layout-5 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 8px;
}
.layout-5 > * {
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: auto;
  flex-shrink: 0;
}
.label-9 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.9);
}
.label-9 > * {
  margin-top: -3.6px;
  margin-bottom: -3.6px;
}
.text-4 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.7);
}
.text-4 > * {
  margin-top: -2.7px;
  margin-bottom: -2.7px;
}
._-9 {
  position: relative;
  width: 800px;
  height: auto;
}
.layout-6 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  column-gap: 24px;
}
.layout-6 > * {
  width: calc((100% - 48px) / 3);
  flex-shrink: 0;
}
.card {
  position: relative;
  min-height: auto;
  filter: drop-shadow(0px 6px 6px rgba(183,191,205,0.15));
}
.card-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.card-shape::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 11px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.05);
  pointer-events: none;
}
.card-layout {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 10px;
}
.card-layout > * {
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  max-height: auto;
  flex-shrink: 0;
}
.heading-2 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Geologica", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #006589;
}
.heading-2 > * {
  margin-top: -3px;
  margin-bottom: -3px;
}
.tco {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
}
.tco-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #FFFFFF;
}
.tco-layout {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
}
.tco-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.result-1 {
  position: relative;
  height: auto;
  min-width: 0px;
  flex: 1;
}
.bar-1 {
  position: relative;
  width: 120px;
  height: auto;
}
.hatching-shape-stroke-1 {
  stroke: #FFFFFF;
  stroke-opacity: 1;
  stroke-width: 2;
  stroke-linecap: butt;
  stroke-linejoin: miter;
}
._-10 {
  position: relative;
  width: 100%;
  height: auto;
}
.layout-7 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.layout-7 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.text-5 {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.5);
}
.text-5 > * {
  margin-top: -2.4px;
  margin-bottom: -2.4px;
}
.text-5 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.layout-8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  gap: 20px;
}
.layout-8 > * {
  width: calc((100% - 40px) / 3);
  flex-shrink: 0;
}
.parameter {
  position: relative;
  min-height: auto;
}
.parameter-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
}
.parameter-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.label-10 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0,0,0,0.9);
}
.label-10 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
}
.label-10 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.range {
  position: relative;
  width: 100%;
  height: 20px;
}
.range-children {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.rectangle-shape-3 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 6px;
  background-color: rgba(183,191,205,0.3);
}
.shaded {
  position: absolute;
  top: 0px;
  right: 30%;
  bottom: 0px;
  left: 30%;
}
.shaded-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #AA3E84;
}
.shaded-children {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  clip-path: inset(0px round 0px 0px 0px 0px);
}
.hatching-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 20px;
  opacity: 0.6;
  transform: translateX(-50%) translateY(-50%);
}
.handle {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 28.7368421053%;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.handle::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #AA3E84;
  pointer-events: none;
}
.handle-1 {
  position: absolute;
  top: -2px;
  right: 28.7368421053%;
  bottom: -2px;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.handle-1::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #AA3E84;
  pointer-events: none;
}
._-11 {
  position: relative;
  width: 100%;
  height: 20px;
}
.layout-9 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
}
.layout-9 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.text-field-1 {
  position: relative;
  height: auto;
  min-width: 0px;
  flex: 1;
}
.text-field-shape-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.text-field-shape-1::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.1);
  pointer-events: none;
}
.text-6 {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.9);
}
.text-6 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding: 4px 6px;
}
.text-6 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.label-11 {
  position: relative;
  display: flex;
  width: 40px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.9);
}
.label-11 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding-left: 2px;
}
.label-11 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.shaded-shape-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #106939;
}
.handle-2 {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 28.7368421053%;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.handle-2::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #106939;
  pointer-events: none;
}
.handle-3 {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 70%;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
  transform: translateX(-50%);
}
.handle-3::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #106939;
  pointer-events: none;
}
.shaded-shape-2 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #189350;
}
.handle-4 {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 30%;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
  transform: translateX(-50%);
}
.handle-4::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #189350;
  pointer-events: none;
}
.handle-5 {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 70%;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
  transform: translateX(-50%);
}
.handle-5::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #189350;
  pointer-events: none;
}
.shaded-shape-3 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #006589;
}
.handle-6 {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 28.7368421053%;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.handle-6::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #006589;
  pointer-events: none;
}
.handle-7 {
  position: absolute;
  top: -2px;
  right: 28.7368421053%;
  bottom: -2px;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
}
.handle-7::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #006589;
  pointer-events: none;
}
.handle-8 {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 30%;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
  transform: translateX(-50%);
}
.handle-8::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #006589;
  pointer-events: none;
}
.handle-9 {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 70%;
  width: 4px;
  border-radius: 16px;
  background-color: #FFFFFF;
  transform: translateX(-50%);
}
.handle-9::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 17px;
  border-width: 1px;
  border-style: solid;
  border-color: #006589;
  pointer-events: none;
}
.layout-10 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  gap: 10px 40px;
}
.layout-10 > * {
  width: calc((100% - 40px) / 2);
  flex-shrink: 0;
}
.parameter-layout-1 {
  display: flex;
  width: 100%;
  /*height: 20px;*/
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  font-size: 12pt !important;
}
.parameter-layout-1 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.label-12 {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: right;
  color: rgba(0,0,0,0.9);
}
.label-12 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
}
.label-12 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.text-field-2 {
  position: relative;
  width: 120px;
  height: auto;
}
.text-7 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.5);
}
.text-7 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding: 4px 6px;
}
.text-7 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.text-field-layout-1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.text-field-layout-1 > * {
  min-width: auto;
  min-height: 100%;
  max-width: auto;
  max-height: 100%;
  flex-shrink: 0;
}
._-12 {
  position: relative;
  width: auto;
  height: 20px;
}
.layout-11 {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4px 6px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.layout-11 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
._-13 {
  position: relative;
  width: 10px;
  height: 10px;
}
.shape-stroke-2 {
  stroke: #000000;
  stroke-opacity: 0.5;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.button-3 {
  position: relative;
  width: 240px;
  height: 40px;
  
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding-right: 16px;
  padding-left: 16px;
}
.kostnadsdrivare {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
}
.kostnadsdrivare-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #FFFFFF;
}
.kostnadsdrivare-layout {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
}
.kostnadsdrivare-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.button-shape-2 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  border-radius: 100px;
  background-color: #006589;
}
.button-shape-2::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.05);
  pointer-events: none;
}
.graph-layout-1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  column-gap: 110px;
}
.graph-layout-1 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.areas-1 {
  position: relative;
  width: 400px;
  height: 200px;
}
.area-3 {
  position: relative;
  width: 400px;
  height: 33%;
}
.area-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 10px;
}
.area-layout > * {
  min-width: auto;
  min-height: 100%;
  max-width: auto;
  max-height: 100%;
  flex-shrink: 0;
}
.rectangle-1 {
  position: relative;
  width: 120px;
}
.label-13 {
  position: relative;
  display: flex;
  width: 100%;
  height: 0px;
  min-width: 0px;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.7);
}
.label-13 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding-right: 8px;
  padding-left: 8px;
}
.label-13 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
._-14 {
  position: relative;
  width: 120px;
  opacity: 0.8;
  border-radius: 5px;
  background-color: #006589;
}
._-14::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  pointer-events: none;
}
.jamfor-batteri {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
}
.jamfor-batteri-shape {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: #FFFFFF;
}
.jamfor-batteri-layout {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 40px;
}
.jamfor-batteri-layout > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.area-4 {
  position: relative;
  width: 100%;
  height: 100%;
}
.label-14 {
  position: absolute;
  top: 10px;
  left: 50%;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
  transform: translateX(-50%);
}
.label-14 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
}
.label-14 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.layout-12 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}
.layout-12 > * {
  min-width: auto;
  min-height: auto;
  max-width: auto;
  max-height: auto;
  flex-shrink: 0;
}
.label-15 {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: right;
  color: rgba(0,0,0,0.7);
}
.label-15 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
}
.label-15 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.text-field-3 {
  position: relative;
  width: 100%;
  height: auto;
}
.unit-1 {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0,0,0,0.5);
}
.unit-1 > * {
  margin-top: -1.8px;
  margin-bottom: -1.8px;
  padding: 4px 6px;
}
.unit-1 strong {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
}
.area-5 {
  position: relative;
  width: 100%;
  height: 80%;
}
