/************* FONTS *************/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');


/************* GENERAL *************/

* {
  position: static;
  box-sizing: border-box;
  aspect-ratio: auto;
  margin: 0px;
  padding: 0px;
  gap: 0px;
  clip-path: none;
  opacity: 1;
  border-radius: 0px;
  letter-spacing: 0em;
  text-transform: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  stroke-miterlimit: 10;
  --gray-border-neutral: #cbcdcd;
  --gray-color: #f4f4f4;
  --neutral-greyscale-50: rgba(244,244,244,1);
  --neutral-greyscale-100: rgba(233,233,233,1);
  --neutral-greyscale-200: rgba(220,220,220,1);
  --neutral-greyscale-300: rgba(203,205,205,1);
  --neutral-greyscale-400: rgba(174,174,174,1);
  --neutral-greyscale-500: rgba(153,153,153,1);
  --neutral-greyscale-600: rgba(102,102,102,1);
  --neutral-greyscale-700: rgba(66,69,66,1);
  --neutral-greyscale-black: rgba(0,0,0,1);
  --neutral-greyscale-white: rgba(255,255,255,1);
  --standard-theme-blue: #00194b;
  --standard-theme-green: #2c6244;
  --standard-theme-magenta: #710049;
  --standard-theme-orange: #e37222;
  --standard-theme-petrol: #006589;
  --standard-theme-purple: #3b005e;
  --secondary-theme-blue: #2b73c9;
  --secondary-theme-green: #189350;
  --secondary-theme-magenta: #aa3e84;
  --secondary-theme-orange: #fba162;
  --secondary-theme-petrol: #3db7e4;
  --secondary-theme-purple: #ae75ce;
  --font-button-link-desktop: 600 18px / 1 "Source Sans 3", sans-serif;
  --font-button-link-micro: 600 16px / 1 "Source Sans 3", sans-serif;
  --font-button-link-mobile: 600 16px / 1 "Source Sans 3", sans-serif;
  --font-form-element-desktop: 600 16px / 1 "Source Sans 3", sans-serif;
  --font-form-element-mobile: 600 14px / 1 "Source Sans 3", sans-serif;
  --font-h1-desktop: 600 42px / 1.2 "Geologica", sans-serif;
  --font-h1-mobile: 600 30px / 1.2 "Geologica", sans-serif;
  --font-h2-desktop: 600 32px / 1.2 "Geologica", sans-serif;
  --font-h2-mobile: 600 24px / 1.2 "Geologica", sans-serif;
  --font-h3-desktop: 600 24px / 1.2 "Geologica", sans-serif;
  --font-h3-mobile: 600 20px / 1.2 "Geologica", sans-serif;
  --font-h4-desktop: 600 20px / 1.2 "Geologica", sans-serif;
  --font-h4-mobile: 600 18px / 1.2 "Geologica", sans-serif;
  --font-h5-micro: 600 16px / 1 "Geologica", sans-serif;
  --font-h5-subtitle: 600 16px / 1 "Geologica", sans-serif;
  --font-large-tag: 600 18px / 1 "Source Sans 3", sans-serif;
  --font-paragraph-desktop: 400 18px / 1.4 "Source Sans 3", sans-serif;
  --font-paragraph-mobile: 400 16px / 1.4 "Source Sans 3", sans-serif;
  --font-preamble-desktop: 400 20px / 1.4 "Source Sans 3", sans-serif;
  --font-preamble-mobile: 400 18px / 1.4 "Source Sans 3", sans-serif;
  --font-quote-desktop: 600 26px / 1 "Source Sans 3", sans-serif;
  --font-quote-mobile: 600 22px / 1 "Source Sans 3", sans-serif;
}

div {
  display: block;
}

img {
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.app-layout {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

@media (max-width: 600px) {
  .app-layout {
    gap: 24px;
  }
}

.calculator {
  width: 100%;
  max-width: 1360px;
  height: auto;
  border-radius: 10px;
  border: 1px solid var(--gray-border-neutral);
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 32px;
  background: var(--gray-color);
}

@media (max-width: 992px) {
  .calculator {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 600px) {
  .calculator {
    padding: 24px;
    gap: 24px;
  }
}


/************* PRIMARY INPUTS *************/

.primary-inputs {
  flex-direction: column;
  width: 100%;
}

.primary-inputs .form-group {
  width: 100%;
}

.primary-inputs > .form-group > .shiny-bound-input {
  border-radius: 10px;
  border-style: solid;
  border-color: var(--gray-border-neutral);
  border-width: 1px;
  
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
}

.primary-inputs > .form-group > div > .shiny-input-select > .selectize-input {
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0,0,0,0.05);
  border-width: 1px;
}

.primary-inputs > .form-group > .label-1, .primary-inputs > .form-group > .control-label {
  color: rgba(0, 0, 0, 0.7);
}


/************* SECONDARY INPUTS *************/

.secondary-inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-content: flex-start;
  align-items: start;
}

.secondary-input {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-start;
  align-items: start;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.secondary-input > .form-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  height: inherit;
}

.secondary-input .shiny-input-container {
  width: auto;
  min-width: 0;
}

.secondary-input label {
  margin: 0;
  flex: 1;
  text-align: right;
}

.secondary-input input {
  position: relative;
  width: 70px;
  min-width: 70px;
  height: inherit;
  padding: 0;
  margin: 0;
  self-align: end;
  
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
}

.secondary-input .shiny-input-select {
  position: relative;
  width: auto;
  min-width: 70px;
  height: inherit;
  padding: 0;
  margin: 0;
  self-align: end;
  
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-align: center;
}

.selectize-input {
  font-size: inherit;
  min-width: 70px;
  padding-top: 0;
  padding-bottom: 0;
}

.selectize-input > * {
  line-height: 2.5;
}

.secondary-input > p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 60px;
}


/************* SIDEBAR *************/

.sidebar {
  width: 30%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  align-self: start;
  gap: 40px;
}

@media (max-width: 992px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .btn-primary {
  width: 100%;
}

.sidebar-scenarios {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
}

.sidebar-scenario-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}


/************* RESULT *************/

.result-frame {
  flex: 1;
  padding: 24px;
  align-items: start;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--gray-border-neutral);
}

@media (max-width: 600px) {
  .result-frame {
    padding: 24px;
  }
}

.result {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.empty-state-heading {
  width: 80%;
  font: var(--font-h3-desktop);
}

.empty-state-text {
  width: 80%;
  font: var(--font-preamble-desktop);
}

.result-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.result-header-heading {
  width: 100%;
  font: var(--font-h2-desktop);
}

.result-header-tagline {
  width: 100%;
  font: var(--font-preamble-desktop);
}

.scoring-tagline-result {
  display: block;
}

.scoring-tagline-result > span > strong {
  font-weight: 600;
}

.battery-range-warning {
  display: block;
  color: var(--standard-theme-orange);
}

.result-graph {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-graph > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.tco-graph {
  width: 50%;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.tco-bar {
  display: flex;
  height: 100%;
  width: calc((100% - 24px) / 2);
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  gap: 8px;
}

.tco-components {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
  align-items: stretch;
  height: 200px;
  width: 100%;
}

.tco-component {
  display: block;
  position: relative;
  
  border: 1px solid white;
  border-radius: 5px;
}

.tco-component-vehicle {
  background: var(--standard-theme-petrol);
}

.tco-component-diesel {
  background: var(--secondary-theme-magenta);
}

.tco-component-charger {
  background: var(--standard-theme-petrol);
}

.tco-component-private-charging {
  background: var(--standard-theme-green);
}

.tco-component-public-charging {
  background: var(--secondary-theme-green);
}

.tco-bar-label {
  display: block;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
}

.tco-component-label {
  position: absolute;
  top: 50%;
  display: flex;
  width: auto;

  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.7);
  transform: translateY(-50%);
  opacity: 0.9;

  
  padding-right: 8px;
  padding-left: 8px;
}

.right {
  right: 100%;
  text-align: right;
}

.left {
  left: 100%;
  text-align: left;
}

.tco-bar-cost-span {
  display: block;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.cost-driver-explanation {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.cost-driver-component {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
}

.cost-driver-component > p {
  margin: 0;
}

.text-public-charging {
  color: var(--secondary-theme-green);
}

.text-private-charging {
  color: var(--standard-theme-green);
}

.text-charger {
  color: var(--standard-theme-petrol);
}

.text-vehicle {
  color: var(--standard-theme-petrol);
}

.cost-driver-coverage-explanation {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.cost-driver-coverage-component {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
}

.cost-driver-coverage-component > p {
  margin: 0;
}

.text-coverage {
  color: rgba(0, 0, 0, 0.9);
}

.cost-warning {
  padding: 8px;
  margin-top: 4px !important;
  background-color: rgba(227, 114, 34, 0.3);
  
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--standard-theme-orange);
}

.warning {
  color: var(--standard-theme-orange);
}

.control-label {
  text-align: inherit;
  font-family: "Source Sans 3", sans-serif;
  font-weight: inherit;
  font-size: inherit;
  white-space: inherit;
}

.js-irs-0 .irs-handle, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar,
.js-irs-0 .irs-from, .js-irs-0 .irs-to, .js-irs-0 .irs-single {
  background: var(--secondary-theme-magenta);
}
.js-irs-1 .irs-handle, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar,
.js-irs-1 .irs-from, .js-irs-1 .irs-to, .js-irs-1 .irs-single {
  background: var(--standard-theme-green);
}
.js-irs-2 .irs-handle, .js-irs-2 .irs-bar-edge, .js-irs-2 .irs-bar,
.js-irs-2 .irs-from, .js-irs-2 .irs-to, .js-irs-2 .irs-single {
  background: var(--secondary-theme-green);
}

.irs-min, .irs-max {
  display: none;
}


/************* FRAMES *************/

.frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid var(--gray-border-neutral);
}

.frame-header {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid var(--gray-border-neutral);
  padding: 12px;
}

.frame-header .form-group {
  margin: 0;
}

.frame-header .shiny-input-container {
  width: 100%;
  min-width: 100%;
}

.frame-header .checkbox {
  margin: 0;
}

.frame-section {
  padding: 12px;
  font-weight: 600;
  font-size: 12px;
}

.frame-section + .frame-section {
  border-top: 1px solid var(--gray-border-neutral);
}


/************* COLUMNS *************/

.columns {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.columns > * {
  width: calc((100% - 12px) / 2);
}

@media (max-width: 1200px) {
  .columns {
    flex-direction: column;
  }

  .columns > * {
    width: 100%;
  }
}


/************* SLIDER INPUTS *************/

.slider-inputs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-content: flex-start;
  align-items: center;
}

.slider-input {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: auto;
  width: calc((100% - 40px) / 3);
  text-align: center;
}

.slider-input .shiny-input-container {
  width: 100%;
  min-width: 100%;
}


/************* BUILDING BLOCKS *************/

.fine-print {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.shiny-input-select {
  display: block;
  width: 100%;
}

.selectize-dropdown-content {
  display: block;
}

.btn-primary {
  width: 100%;
  height: 40px;
  background-color: var(--standard-theme-petrol);
  border-radius: 1000px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #FFFFFF;
  
  padding: 8px;
}

.btn-secondary {
  border-radius: 1000px;
  border: 1px solid var(--gray-border-neutral);
  background: var(--neutral-greyscale-200);
  
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: var(--standard-theme-petrol);
  
  padding: 6px 12px;
}
