* {
  font-family: "Source Sans 3", sans-serif;
}
h1, h2, h3, h4, h5, h6, .card-header {
  font-family: "Geologica", sans-serif;
  font-weight: 700;
}
.card-header {
  font-size: 1.25rem;  /* Adjusts card header size if needed */
}
.block-blue-tf {
  background-color: #286587;
}
.block-beige-tf {
  background-color: #faf0dc;
}
.block-green-tf {
  background-color: #aad688;
}
.profitability-score {
  font-weight: 600;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18pt;
  text-align: center;
  color: white;
}
#detailedInputs {
  display: none;  /* Hide the detailed input section initially */
}
#detailedOutputs {
  display: none;  /* Hide the detailed input section initially */
}
.rounded {
  border-radius:1rem!important
}
.top-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  /*border-bottom: 2px solid #ddd;*/
}
.title {
  font-family: "Geologica", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: black;
  text-align: center;
  /*text-transform: uppercase;*/
  margin: 0;
}
.logo {
  height: 40px;
  /* max-height: 50px;  # Adjust this value to control the logo size */
  width: auto;
  margin-right: auto;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .title {
    font-size: 18px;  # Reduce font size on smaller screens
  }
  .logo {
    max-height: 40px;  # Adjust logo size on smaller screens
  }
}
#floating_value_box2 {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  /*display: none;*/ /* Initially hidden */
  width: 300px; /* Adjust as needed */
  background-color: #666666;
}
#floating_value_box2.hidden {
  right: -300px;
}